{% extends 'layout.html' %}

{% block content %}
<div class="logged-in-box auth0-box logged-in">
    <h1 id="logo"><img src="https://cdn.auth0.com/website/press/resources/guardian-logo.svg" /></h1>

    <h1>Librería Científica del Departamento de Ciencia de la Computación</h1>
    <h4>Bienvenido <b>{{ auth0User.extra_data.role }}</b>, {{ user.username }}</h4>
    <div id="avatar">
        <img src="{{ auth0User.extra_data.picture }}"/>
    </div>
    <a class="btn btn-primary btn-lg btn-logout" href="/logout">Salir</a>

    <div class="container" id="mini">
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Filtrar">

        </form>

    </div>

    <p><h5>
        {% if auth0User.extra_data.role == "admin" %}
            <a href="/book/new">Agregar nuevo</a>
        {% endif %}
    </h5></p>

    <div class="container">
        <table>
            <thead>
                <tr>
                    <th> Portada</th>
                    <th> Datos </th>

                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td> <div id="avatar"> <img src='{{ book.content.image }}'/> </div> </td>
                        <td>
                            {{ book.title }}
                            ({{ book.content.year }})
                            <h5>
                            {% if auth0User.extra_data.role == "admin" %}
                                <a href="/book/edit/{{ book.id }}">Editar</a>
                                <a href="/book/delete/{{ book.id }}"
                                    onclick="return confirm('¿Estás seguro que deseas eliminar este libro?')">Eliminar</a>
                            {% endif %}
                            </h5>
                            <h4>{% for author in  book.authors.all %}
                                {{ author }}
                            {% endfor %}
                            </h4>
                            <h5>Edición: {{book.content.edition}}, Disponibles: {{ book.content.copies }}</h5>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination">
    <span class="step-links">
        {% if books.has_previous %}
            <a href="?page=1">Inicio</a>
            <a href="?page={{ books.previous_page_number }}">&laquo; anterior</a>
        {% endif %}

        <span class="current">
            Página {{ books.number }} de {{ books.paginator.num_pages }}.
        </span>

        {% if books.has_next %}
            <a href="?page={{ books.next_page_number }}">&laquo; anterior</a>
            <a href="?page={{ books.paginator.num_pages }}">siguiente &raquo;</a>
        {% endif %}
    </span>
</div>

</div>

{% endblock content %}
